/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/main.scss */
body {
  background: #F5EBD9;
  color: #4B4435;
  font-family: "Cousine", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* line 24, ../sass/main.scss */
h2 {
  font-size: 16px;
}

/* line 28, ../sass/main.scss */
h3 {
  text-decoration: underline;
  margin: 15px 0 15px 25px;
  position: relative;
}
/* line 33, ../sass/main.scss */
h3:before {
  content: "# ";
  text-decoration: none;
  position: absolute;
  left: -15px;
}

/* line 41, ../sass/main.scss */
p {
  margin-bottom: 15px;
}

/* line 45, ../sass/main.scss */
a {
  color: #96AF31;
  text-decoration: none;
}
/* line 49, ../sass/main.scss */
a:hover {
  color: #C5A47A;
  text-decoration: underline;
}

/* line 55, ../sass/main.scss */
span.info {
  border-bottom: 1px dashed #96AF31;
  display: inline-block;
  height: 16px;
  cursor: help;
}
/* line 61, ../sass/main.scss */
span.info:hover {
  color: #96AF31;
}

/* line 66, ../sass/main.scss */
ul {
  display: block;
  margin: 20px 30px;
}
/* line 70, ../sass/main.scss */
ul li {
  padding: 5px 0;
}
/* line 73, ../sass/main.scss */
ul li:before {
  content: '- ';
}

/* line 79, ../sass/main.scss */
pre {
  padding: 10px;
  box-sizing: border-box;
  margin: 20px 10px;
  background: #FBF3DC !important;
}

/* line 86, ../sass/main.scss */
header {
  background: #FDF9F4;
  width: 900px;
  margin: 0 auto;
  padding: 10px 0 3px 0;
}
/* line 92, ../sass/main.scss */
header canvas#logo {
  background: #FDF9F4;
}
/* line 96, ../sass/main.scss */
header ul#menu {
  padding-left: 10px;
}
/* line 99, ../sass/main.scss */
header ul#menu li {
  display: inline-block;
  margin: 0;
}
/* line 103, ../sass/main.scss */
header ul#menu li:before {
  content: none;
}
/* line 107, ../sass/main.scss */
header ul#menu li a {
  padding: 2px 2px 2px 12px;
}
/* line 111, ../sass/main.scss */
header ul#menu li a:hover, header ul#menu li a.active {
  background: #94835d;
  color: #F5EBD9;
  text-decoration: none;
}
/* line 116, ../sass/main.scss */
header ul#menu li a:hover:before, header ul#menu li a.active:before {
  content: ">";
  margin-left: -10px;
  padding-top: 1px;
  font-size: 13px;
  position: absolute;
}

/* line 129, ../sass/main.scss */
#main {
  background: #FDF9F4;
  min-height: 600px;
  width: 900px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
/* line 137, ../sass/main.scss */
#main div.bill {
  margin-top: 30px;
}
/* line 140, ../sass/main.scss */
#main div.bill h2 {
  font-weight: bold;
  margin: 10px 0 10px 10px;
}
/* line 144, ../sass/main.scss */
#main div.bill h2 span.date {
  font-size: 14px;
  font-weight: normal;
  color: #96AF31;
}
/* line 149, ../sass/main.scss */
#main div.bill h2 span.date:before {
  content: "-";
  vertical-align: top;
  margin: 0 0 0 5px;
}
/* line 157, ../sass/main.scss */
#main div.bill p {
  margin-left: 9px;
}

/* line 164, ../sass/main.scss */
footer {
  text-align: center;
  background: #C8C8AA;
  color: #694D0C;
  width: 900px;
  margin: 0 auto;
  font-size: 12px;
}
